<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>Fruit_sl</servlet-name>
    <servlet-class>cn.fruit.web.UI.Fruit_sl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>About_us</servlet-name>
    <servlet-class>cn.fruit.web.UI.About_us</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>cn.fruit.web.UI.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Fruit_bz</servlet-name>
    <servlet-class>cn.fruit.web.UI.Fruit_bz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Fruit_hy</servlet-name>
    <servlet-class>cn.fruit.web.UI.Fruit_hy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Fruit_yp</servlet-name>
    <servlet-class>cn.fruit.web.UI.Fruit_yp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.fruit.web.UI.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.fruit.web.UI.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Xq</servlet-name>
    <servlet-class>cn.fruit.web.UI.Xq</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCart</servlet-name>
    <servlet-class>cn.fruit.web.UI.ListCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginDeal</servlet-name>
    <servlet-class>cn.fruit.web.controller.LoginDeal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterDeal</servlet-name>
    <servlet-class>cn.fruit.web.controller.RegisterDeal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCG</servlet-name>
    <servlet-class>cn.fruit.web.UI.RegisterCG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCG</servlet-name>
    <servlet-class>cn.fruit.web.UI.LoginCG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.fruit.web.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCartDeal</servlet-name>
    <servlet-class>cn.fruit.web.controller.ListCartDeal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteListCart</servlet-name>
    <servlet-class>cn.fruit.web.controller.DeleteListCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeFruitNum</servlet-name>
    <servlet-class>cn.fruit.web.controller.ChangeFruitNum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Buy</servlet-name>
    <servlet-class>cn.fruit.web.UI.Buy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Buyhy</servlet-name>
    <servlet-class>cn.fruit.web.UI.Buyhy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>cn.fruit.web.UI.Order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDeal</servlet-name>
    <servlet-class>cn.fruit.web.controller.OrderDeal</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>Fruit_sl</servlet-name>
    <url-pattern>/Fruit_sl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>About_us</servlet-name>
    <url-pattern>/About_us</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fruit_bz</servlet-name>
    <url-pattern>/Fruit_bz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fruit_hy</servlet-name>
    <url-pattern>/Fruit_hy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fruit_yp</servlet-name>
    <url-pattern>/Fruit_yp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Xq</servlet-name>
    <url-pattern>/Xq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCart</servlet-name>
    <url-pattern>/ListCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginDeal</servlet-name>
    <url-pattern>/LoginDeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterDeal</servlet-name>
    <url-pattern>/RegisterDeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCG</servlet-name>
    <url-pattern>/RegisterCG</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCG</servlet-name>
    <url-pattern>/LoginCG</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartDeal</servlet-name>
    <url-pattern>/ListCartDeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteListCart</servlet-name>
    <url-pattern>/DeleteListCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeFruitNum</servlet-name>
    <url-pattern>/ChangeFruitNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Buy</servlet-name>
    <url-pattern>/Buy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Buyhy</servlet-name>
    <url-pattern>/Buyhy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDeal</servlet-name>
    <url-pattern>/OrderDeal</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/errors/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/errors/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/errors/error.jsp</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
